* {
    background-color: rgb(2, 2, 7);
    color: rgb(219, 228, 236);
}

h1,
h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.hangman-wrapper {
    text-align: center;
    font-size: 1.5em;
}
