* {
    background-color: rgb(9, 9, 31);
    color: rgb(191, 210, 226);
}

h1,
h2 {
    text-align: center;
}

.title {
    text-align: center;
}

.hangman-wrapper {
    text-align: center;
    font-size: 1.5em;
}
